<h3>ChildComponent</h3>

<button @onclick="@(() => OnClick.InvokeAsync("Hello from ChildComponent"))">Click me</button>
<button @onclick="@Foo">Click me</button>

@code {
    [Parameter] public EventCallback<string> OnClick { get; set; }

    private void Foo()
    {
        Console.WriteLine("Ok");
        OnClick.InvokeAsync("Oiii from Foo"); 
    }
}
