@page "/counter"

@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@inject IHttpContextAccessor httpContextAccessor

<h1>@UserName</h1>

@code {
    public string UserName;

    protected override async Task OnInitializedAsync()
    {
        UserName = httpContextAccessor.HttpContext.User.Identity.Name;
        var principal = httpContextAccessor.HttpContext.User;
        UserName = principal.FindFirstValue(ClaimTypes.NameIdentifier);
    }
}