@page "/"
@using RecipeManager.UI.Pages.Forms 

<NewCookbookForm></NewCookbookForm>
<NewCookbookFormWithImageUpload></NewCookbookFormWithImageUpload>
<h3>TODOs</h3>
<ul>
    <li>TODO: This will fail if not signed in</li>
    <li>Add a loading wheel after clicking Create button</li>
    <li>Setup blob container naming convention</li>
</ul>