@page "/"
@using RecipeManager.UI.Pages.Forms

<p>@message</p>

@code {
    string message = "Hello from ParentComponent";

    void ClickHandler(string newMessage)
    {
        message = newMessage;
    }
}

<h3>TODOs</h3>
<ul>
    <li>Fix the warnings</li>
    <li>Break out all the nasty image upload blob logic into a new class library, or something</li>
    <li>This will fail if not signed in</li>
    <li>Add a loading wheel after clicking Create button</li>
</ul>