@page "/"

<h3>TODOs</h3>
<ul>
    <li>Edit cookbook: Looks like the PUT endpoint in the API works as expected, should be similar to add cookbook, just use PUT instead of POST basically.</li>
    <li>Break out all the nasty image upload blob logic into a new class library, or something</li>
    <li>Any stuff that interacts with DB or Blob storage will fail if not logged in. Block stuff to certain accounts.</li>
    <li>Add a loading wheel after clicking Create button</li>
    <li>Delete cookbook (should delete DB record AND image in blob storage)</li>
    <li>Copy cookbook</li>
    <li>Recipes screen (view recipes by cookbook)</li>
</ul>