@page "/cookbook"

<h1>Cookbooks</h1>

<p>This is where a user will be able to create, read, update, and delete cookbooks.</p>

<NavLink class="nav-link" href="cookbook/new">
    <button class="btn btn-primary">New Cookbook</button>
</NavLink>

<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Cookbook</th>
            <th>Owner</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>Cookbook 1</td>
            <td>Joshua</td>
            <td>Edit | Copy | Delete</td>
        </tr>
        <tr>
            <td></td>
            <td>Cookbook 2</td>
            <td>Joshua</td>
            <td>Edit | Copy | Delete</td>
        </tr>
        <tr>
            <td></td>
            <td>Cookbook 3</td>
            <td>Joshua</td>
            <td>Edit | Copy | Delete</td>
        </tr>
    </tbody>
</table>
