@page "/cookbooks"

@inject HttpClient client

@using Newtonsoft.Json
@using Data

<h1>Cookbook Library</h1>

<div class="container-fluid">
    <div>
        @if (Cookbooks != null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Cookbook</th>
                        <th>Owner</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Cookbooks)
                    {
                        <tr class="justify-content-center">
                            <td><img src="@user.ImageUrl" class="cookbook-thumbnail" /></td>
                            <td>@user.Name</td>
                            <td>@user.UserId</td>
                            <td>@user.Description</td>
                            <td>
                                <a href="">Edit</a> |
                                <a href="">Copy</a> |
                                <a href="">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        @if (!Cookbooks.Any())
        {
            <div class="justify-content-center">
                <h5>No records to show</h5>
            </div>
        }
    </div>
</div>


@code {
    List<CookbookModel> Cookbooks = new List<CookbookModel>();

    protected override async Task OnInitializedAsync()
    {
        await GetUser();
    }

    private async Task GetUser()
    {
        var apiName = "api/Cookbooks";
        var httpResponse = await client.GetAsync(apiName);
        if (httpResponse.IsSuccessStatusCode)
        {
            List<CookbookModel> responseData = JsonConvert.DeserializeObject<List<CookbookModel>>(await httpResponse.Content.ReadAsStringAsync());
            Cookbooks = responseData;
            StateHasChanged();
        }
    }
}
