@page "/cookbook/new"
@using RecipeManager.Data
@using System.Text.Json
@using System.ComponentModel.DataAnnotations;
@inject IJSRuntime JSRuntime;

<h3>New Cookbook</h3>

<EditForm Model="@cookbook" OnValidSubmit="@SubmitJobApplication">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label for="fullname">Fullname: </label>
        <InputText id="fullname" @bind-Value="cookbook.CookbookTitle" />
    </p>
    <p>
        <label for="description">Description: </label>
        <InputTextArea id="description" @bind-Value="cookbook.Description" />
    </p>
    <p>
        <label for="image">Image: </label>
        <InputText id="image" @bind-Value="cookbook.ImageUrl" />
    </p>
    <button type="submit">Submit</button>
</EditForm>

<div>
    <span id="resultJson"></span>
</div>

@code
{
    private CookbookItem cookbook = new CookbookItem();

    private async Task SubmitJobApplication()
    {
        await JSRuntime.InvokeVoidAsync("console.log", JsonSerializer.Serialize(cookbook));
        // Here is where data will be sent off to the api...
    }
}